# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://user:password@localhost:3306/auditoriascania"
PORT=3001
APP_URL=http://localhost:3001
TZ=America/Mexico_City

# Email / SMTP
# MAIL_HOST=smtp.tuservidor.com
# MAIL_PORT=587
# MAIL_SECURE=false
# MAIL_USER=tu_usuario@dominio.com
# MAIL_PASSWORD=tu_password
# MAIL_FROM="Sistema Scania <no-reply@scania-audits.com>"

# Google Cloud Storage
GCS_PROJECT_ID=tu-gcp-project-id
GCS_BUCKET_NAME=tu-bucket-name
# Solo en desarrollo local (en Cloud Run se usa ADC automáticamente)
GCS_KEY_FILENAME=/ruta/al/service-account.json
